body {
    background-color: #EFF7CF;
}
#nome {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#desc {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 306px;
    left: 330px;
}
#fotominha {
    background-color: lightblue;
    padding-block: 20px;
}

#desc-texto {
    font-style: italic;
    position: absolute;
    top: 336px;
    left: 330px;
}
.lidarComPessoas {
    font-size: 18px;
}
.lógicaRazão {
    font-size: 18px;
}
.diálogo {
    font-size: 18px;
}
.pacífico {
    font-size: 18px;
}

h3#habilidades {
    padding-left: 20px;
}

p {
    font-size: 18px;
}

ul li:nth-child(odd) {
    text-decoration: underline;
}